@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Playwrite+MX:wght@100..400&display=swap');
@import "tailwindcss";

:root {
  --color-primary: rgb(102 85 142);
  --color-surface-tint: rgb(102 85 142);
  --color-on-primary: rgb(255 255 255);
  --color-primary-container: rgb(234 221 255);
  --color-on-primary-container: rgb(78 61 117);
  --color-secondary: rgb(98 91 112);
  --color-on-secondary: rgb(255 255 255);
  --color-secondary-container: rgb(233 222 248);
  --color-on-secondary-container: rgb(74 67 88);
  --color-tertiary: rgb(126 82 95);
  --color-on-tertiary: rgb(255 255 255);
  --color-tertiary-container: rgb(255 217 226);
  --color-on-tertiary-container: rgb(100 59 71);
  --color-error: rgb(186 26 26);
  --color-on-error: rgb(255 255 255);
  --color-error-container: rgb(255 218 214);
  --color-on-error-container: rgb(147 0 10);
  --color-background: rgb(254 247 255);
  --color-on-background: rgb(29 27 32);
  --color-surface: rgb(254 247 255);
  --color-on-surface: rgb(29 27 32);
  --color-surface-variant: rgb(231 224 235);
  --color-on-surface-variant: rgb(73 69 78);
  --color-outline: rgb(122 117 127);
  --color-outline-variant: rgb(203 196 207);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surface: rgb(50 47 53);
  --color-inverse-on-surface: rgb(245 239 247);
  --color-inverse-primary: rgb(209 188 253);
  --color-primary-fixed: rgb(234 221 255);
  --color-on-primary-fixed: rgb(34 15 70);
  --color-primary-fixed-dim: rgb(209 188 253);
  --color-on-primary-fixed-variant: rgb(78 61 117);
  --color-secondary-fixed: rgb(233 222 248);
  --color-on-secondary-fixed: rgb(30 25 43);
  --color-secondary-fixed-dim: rgb(204 194 219);
  --color-on-secondary-fixed-variant: rgb(74 67 88);
  --color-tertiary-fixed: rgb(255 217 226);
  --color-on-tertiary-fixed: rgb(49 16 28);
  --color-tertiary-fixed-dim: rgb(240 184 198);
  --color-on-tertiary-fixed-variant: rgb(100 59 71);
  --color-surface-dim: rgb(222 216 224);
  --color-surface-bright: rgb(254 247 255);
  --color-surface-container-lowest: rgb(255 255 255);
  --color-surface-container-low: rgb(248 241 250);
  --color-surface-container: rgb(242 236 244);
  --color-surface-container-high: rgb(236 230 238);
  --color-surface-container-highest: rgb(231 224 232);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: rgb(209 188 253);
    --color-surface-tint: rgb(209 188 253);
    --color-on-primary: rgb(55 38 93);
    --color-primary-container: rgb(78 61 117);
    --color-on-primary-container: rgb(234 221 255);
    --color-secondary: rgb(204 194 219);
    --color-on-secondary: rgb(51 45 65);
    --color-secondary-container: rgb(74 67 88);
    --color-on-secondary-container: rgb(233 222 248);
    --color-tertiary: rgb(240 184 198);
    --color-on-tertiary: rgb(74 37 49);
    --color-tertiary-container: rgb(100 59 71);
    --color-on-tertiary-container: rgb(255 217 226);
    --color-error: rgb(255 180 171);
    --color-on-error: rgb(105 0 5);
    --color-error-container: rgb(147 0 10);
    --color-on-error-container: rgb(255 218 214);
    --color-background: rgb(20 18 24);
    --color-on-background: rgb(231 224 232);
    --color-surface: rgb(20 18 24);
    --color-on-surface: rgb(231 224 232);
    --color-surface-variant: rgb(73 69 78);
    --color-on-surface-variant: rgb(203 196 207);
    --color-outline: rgb(148 143 153);
    --color-outline-variant: rgb(73 69 78);
    --color-shadow: rgb(0 0 0);
    --color-scrim: rgb(0 0 0);
    --color-inverse-surface: rgb(231 224 232);
    --color-inverse-on-surface: rgb(50 47 53);
    --color-inverse-primary: rgb(102 85 142);
    --color-primary-fixed: rgb(234 221 255);
    --color-on-primary-fixed: rgb(34 15 70);
    --color-primary-fixed-dim: rgb(209 188 253);
    --color-on-primary-fixed-variant: rgb(78 61 117);
    --color-secondary-fixed: rgb(233 222 248);
    --color-on-secondary-fixed: rgb(30 25 43);
    --color-secondary-fixed-dim: rgb(204 194 219);
    --color-on-secondary-fixed-variant: rgb(74 67 88);
    --color-tertiary-fixed: rgb(255 217 226);
    --color-on-tertiary-fixed: rgb(49 16 28);
    --color-tertiary-fixed-dim: rgb(240 184 198);
    --color-on-tertiary-fixed-variant: rgb(100 59 71);
    --color-surface-dim: rgb(20 18 24);
    --color-surface-bright: rgb(59 56 62);
    --color-surface-container-lowest: rgb(15 13 19);
    --color-surface-container-low: rgb(29 27 32);
    --color-surface-container: rgb(33 31 36);
    --color-surface-container-high: rgb(43 41 47);
    --color-surface-container-highest: rgb(54 52 58);
  }
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-on-primary: var(--color-on-primary);
  --color-primary-container: var(--color-primary-container);
  --color-on-primary-container: var(--color-on-primary-container);
  --color-secondary: var(--color-secondary);
  --color-on-secondary: var(--color-on-secondary);
  --color-secondary-container: var(--color-secondary-container);
  --color-on-secondary-container: var(--color-on-secondary-container);
  --color-tertiary: var(--color-tertiary);
  --color-on-tertiary: var(--color-on-tertiary);
  --color-tertiary-container: var(--color-tertiary-container);
  --color-on-tertiary-container: var(--color-on-tertiary-container);
  --color-background: var(--color-background);
  --color-foreground: var(--color-on-background);
  --color-surface: var(--color-surface);
  --color-surface-dim: var(--color-surface-dim);
  --color-surface-bright: var(--color-surface-bright);
  --color-surface-container-lowest: var(--color-surface-container-lowest);
  --color-surface-container-low: var(--color-surface-container-low);
  --color-surface-container: var(--color-surface-container);
  --color-surface-container-high: var(--color-surface-container-high);
  --color-surface-container-highest: var(--color-surface-container-highest);
  --font-sans: "Lexend Deca", sans-serif;
  --font-cursive: "Playwrite MX", cursive;
}

html {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}